html, body {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background: #000;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #FFF;
}

a {
	color: #FFF;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	background: url('bkd.png') no-repeat;
	min-height: 500px;
}

#logo {
	width: 340px;
	height: 210px;
	background: url('logo.png') no-repeat;
}

#text {
	width: 500px;
	line-height: 16px;
}

.divider {
	width: 731px;
	height: 98px;
	background: url('divider.png') no-repeat;
	margin: 0 auto;
}

.gray {
	color: #333;
}